<div class="container">
<h1>Participants awaiting for your approval</h1>
<% if @activities.count == 0 %>
  <div>There are no pending approvals</div>
<% end %>
<% @activities.each do |activity| %>
  <% if activity.participations.count > 0 %>
    <div class="card container justify-content-center p-2">
    <div class="">
      <h4><%= activity.name %></h4>
    <div class="">
      <p><%= activity.start_time.strftime("%e.%M%P %-d %b") %></p>
      <p><%= activity.location%></p>
    </div>
    </div>
      <% activity.participations.where(status: "pending").each do |participation| %>
        <div class ="container waiting d-flex justify-content-between align-items-center ">
          <h5><%= participation.user.first_name  %></h5>
          <div class="d-flex align-items-center approve-form">
            <div class="m-0">
              <%= link_to destroyApproved_participation_path(participation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <div class="btn btn-forreject">Reject</div>
              <% end %>
            </div>

              <%= simple_form_for participation do |f|%>
                <%= f.input :mode, :as => :hidden, :input_html => { :value => "accept" } %>
                <div>
                  <%= f.submit "Approve", class: 'btn btn-olivery'%>
                </div>
              <% end %>

          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
