<body>
<div class="container">
  <div>
    <h1>Participation List</h1>
  </div>

  <div id="approved_header">
    <img src="https://cdn-icons-png.flaticon.com/512/2984/2984960.png" alt="tick" height="30px" width="30px">
    <h3>Confirmed</h3>
  </div>

    <div id="approved_list flex-column">
      <% @confirmed_activities.each do |activity| %>
        <div class="d-flex mb-2">
          <div id="approved_avatar">
            <div class="avatar_participation" >
              <%= cl_image_tag activity.itinerary.user.photos[0].key, width:60, height:60, crop: :fill, class: "rounded-circle" %>
            </div>
          </div>

          <div id="activity1">
            <%= render "activity_details", activity: activity %>
          </div>

          <div id="chatbox">

              <img src="https://cdn-icons-png.flaticon.com/512/3193/3193015.png" height="30px" width="30px">

            <%= link_to "review", new_activity_review_path(activity) if activity.finished? %>

          </div>
        </div>
      <% end %>
    </div>

    <div id="pending_header">
      <div>
        <img src="https://cdn-icons-png.flaticon.com/512/6828/6828772.png" alt="pending" height="30px" width="30px">
      </div>
      <div>
        <h3>Pending</h3>
      </div>
    </div>
    <div id="pending_list flex-column">
      <% @participations_pending.each do |activity| %>
        <% unless activity.finished? %>
          <div class="d-flex mb-2">
            <%= cl_image_tag activity.itinerary.user.photos[0].key, width:60, height:60, crop: :fill, class: "rounded-circle" %>
            <div id="activity2">
              <%= render "activity_details", activity: activity %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
