<div class="col-10" style = "width:300px; margin:10px auto;" >
  <div class="card border " style="background-color:#878383">
    <div class="card-infos">
      <div class="d-flex justify-content-between">
        <p><strong><%= itinerary.title %></strong> </p><br>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <%= image_tag "our_logo.png", alt: "Itinerary cover", width: 100 %>
        </div>
        <div>
          <p><%= itinerary.country %>, <%= itinerary.city %> </p>
          <p><%= itinerary.start_date %> to </p>
          <p><%= itinerary.end_date %> </p>
        </div>
      </div>
      <%= link_to "see details", itinerary_path(itinerary), class: "btn btn-outline-secondary mx-4" %>
    </div>
  </div>
</div>
