<div class="col-10" style = "width:300px; margin:10px auto;" >
  <div class="card border " style="background-color:#878383;">
    <div class="card-infos mt-2 mx-2">
      <div class="d-flex justify-content-between ">
        <p style="color:white;"><strong><%= itinerary.title%></strong> by: <%= itinerary.user.first_name%></p>
      </div>
      <div class="d-flex justify-content-between">
        <div class="itinerary-cover">
          <% if itinerary.photos.attached? %>
            <%= cl_image_tag itinerary.photos[0].key, :width=>100, :height=>100%>
          <% else %>
            <%= image_tag "sofa.jpg", alt: "photo placeholder", width: 200, height: 200 %>
          <% end %>
        </div>
        <div class= "mx-2 my-2">
          <p style="color:white;"><%= itinerary.country %>, <%= itinerary.city %> </p>
          <p style="color:white;"><%= itinerary.start_date %> to </p>
          <p style="color:white;"><%= itinerary.end_date %> </p>
        </div>
      </div>
        <%= link_to "see details", itinerary_path(itinerary), class: "btn btn-success my-2" %>
    </div>
  </div>
</div>
