
<div class="w-full" data-controller="itinerary">

  <!----------------------- DATE & LOCATION SEARCH ------------------------->

  <div class="">
    <div class="date-container" >
      <div class= "d-flex justify-content-center">
        <form action="/itineraries" class="form-inline">
        <div>
          <%= simple_form_for :global_search, url: itineraries_path, method: "GET" do |f| %>
          <div class="d-flex justify-content-between">
            <label for="start_date">From:</label>
            <input type="date" id="start_date" name="start_date">
            <label for="end_date">Until:</label>
            <input type="date" id="end_date" name="end_date" >
          </div>
          <%= f.input :location,
          input_html: {data: {location_autocomplete_target: "location"}, style: "display: none", name: "location"},
          wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
          <%= f.submit "Let's go", input_html: { style: "display: none" } %>
          <% end %>
        </form>
      </div>
    </div>
  </div>
  <!----------------------- DATE & LOCATION SEARCH ------------------------->




  <!----------------------- CARD ------------------------->

 <%= render "itineraries_card" %>

  <!----------------------- CARD ------------------------->


<div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
