<div style="background-color: #F1E0E0;">
  <div class="d-flex justify-content-end">
  <%= link_to "Create your itinerary", new_itinerary_path, class: "btn btn-success mx-4" %>
  </div>

  <div class="w-full pt-3" data-controller="itinerary" style="background-color: #F1E0E0;">

    <!----------------------- DATE & LOCATION SEARCH ------------------------->

    <div class= "container" style="background-color: #F1E0E0;">
      <div class="date-container" >

        <div class= "d-flex justify-content-center" style="background-color: #F1E0E0;">
          <form action="/itineraries" class="form-inline">
            <%= simple_form_for :global_search, url: itineraries_path, method: "GET" do |f| %>
            <div class="inputfont">
              <div>
                <label for="start_date">FROM</label>
                <input type="date" id="start_date" name="start_date" placeholder="">
              </div>
              <div>
                <label for="end_date">UNTIL</label>
                <input type="date" id="end_date" name="end_date">
              </div>
              <%= f.input :location,
                input_html: {class: "test", data: {location_autocomplete_target: "location"}, style: "display: none;", name: "location"},
                wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
              %>
              <%= f.submit "LET'S GO!", class: 'btn btn-success' %>
              <% end %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------------- DATE & LOCATION SEARCH ------------------------->



  <!----------------------- CARD ------------------------->

 <%= render "itineraries_card" %>

  <!----------------------- CARD ------------------------->


<div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
