<%= simple_form_for @itinerary do |f| %>
  <div class="title-where">
    <h3>Where do you plan to go?</h3>
  </div>

  <div class="location-input">
    <%= f.input :country %>
    <%= f.input :city %>
  </div>

  <div class='d-flex justify-content-center '>
    <div id='map' style="width: 80%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div id="geocoder" class="geocoder"></div>
  </div>

  <div class="title-when">
    <h3>When do you want to go?</h3>
  </div>
  <div class=" date-input d-flex justify-content-between">
    <label for="start_date">From:</label>
    <input type="date" id="start_date" name="start_date">
    <label for="end_date">Until:</label>
    <input type="date" id="end_date" name="end_date" >
  </div>

  <div class="title-what">
    <h3>Some more information about your trip</h3>
  </div>
  <div class="details-input">
    <%= f.input :title %>
    <%= f.input :description %>
  </div>

  <div class="title-what">
    <h3>Upload a photo</h3>
  </div>
  <div class="details-input">
    <%= f.input :photos, as: :file, input_html: { multiple: true }%>
  </div>



  <div class="submits mb-5 pb-5">
    <%= f.submit "Save itinerary", input_html: { style: "display: none" } %>
    <%= f.submit 'Add activities', input_html: { style: "display: none" } %>
  </div>


<% end %>
<%#
<div id="map"></div>

<div id="geocoder" class="geocoder"></div> %>
