<body>
<div class="container">


  <div class="w-100">
    <div class='position-relative my-5 px-2 itinerary-card' data-itinerary-target='card'>
      <div class="d-flex justify-content-start position-relative" >
        <div>
          <% @itinerary.user.photos.each do |photo| %>
              <div class="avatar_participation">
                <%= cl_image_tag photo.key, height: 280, width: 280, class: "avatar_participation" %>
              </div>
          <% end %>
          <strong id="itinerary_show_name"><%= @itinerary.user.first_name %></strong>
        </div>
      </div>
      <div class="bg-light p-4 itinerary_container">
        <div class="card-header">
          <strong><%= @itinerary.title %></strong>
        </div>
        <ul class="itinerary-group">
          <li class="list-group-item"><%= "Starting from: #{@itinerary.start_date} to #{@itinerary.end_date}" %></li>
          <li class="list-group-item"><%= "Where? #{@itinerary.city} " %></li>
        </ul>

        <div data-controller="insert-in-list">
          <ul class="list-group list-group-flush bg-light ml-3 mb-3 pl-3 pr-3">
            <p>Activities</p>
              <% @itinerary.activities.each do |activity| %>
                <%= render 'activities/details-card', activity: activity, participation: @participation %>
              <% end %>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>
</body>





















</div>
</body>
