<body class="itinerary_show">
<div class="container">


  <div class="w-100">
    <div class='border border-danger position-relative my-5 px-2 itinerary-card' data-itinerary-target='card'>
      <div class="d-flex justify-content-start position-relative" >
        <div>
          <% @itinerary.user.photos.each do |photo| %>
              <div class="avatar-large" alt="avatar-large">
                <%= cl_image_tag photo.key, height: 280, width: 280 %>
              </div>
          <% end %>
          <strong><%= @itinerary.user.first_name %></strong>
        </div>
      </div>
      <div class="bg-light p-4" data-controller="check-all-checkboxes">
        <div class="card-header">
          <strong><%= @itinerary.title %></strong>
        </div>
        <ul class="itinerary-group">
          <li class="list-group-item"><%= "Starting from: #{@itinerary.start_date} to #{@itinerary.end_date}" %></li>
          <li class="list-group-item"><%= "Where? #{@itinerary.city} " %></li>
        </ul>
        <ul class="list-group list-group-flush bg-light ml-3 mb-3 pl-3 pr-3">
          <p>Activities</p>
          <% @itinerary.activities.each_with_index do |activity,index| %>
            <label class="option"> <%= activity.name %>
            <input type="checkbox" value="<%= activity.id %>" data-check-all-checkboxes-target="checkbox"></label>
            <%= activity.start_date %> to
            <%= activity.end_date %>
            <%= activity.start_time.strftime("%l:%M%P") %> to
            <%= activity.end_time.strftime("%l:%M%P") %>
            <%= render "activity_modal" %>
          <% end %>
        </ul>

        <div id="all_checkbox">
          <h3> Join All Activities! </h3>
          <label class="join_all"><input type="checkbox" data-action="change->check-all-checkboxes#checkAll"></label>
        </div>

        <div id="join_button">
          <label class="option"><button type="submit" class="btn btn-success" data-action="click->check-all-checkboxes#submit"> Join </button></label>
        </div>

      </div>
    </div>
  </div>
</div>





















</div>
</body>
