

<div class="clearfix">
  <div id="message-<%= message.id %>">
    <% if message.user.id == current_user.id %>
      <div class="msg">
        <div class="bubble altfollow">
          <div class="txt">
            <span class="timestamp"> <%= message.created_at.strftime("%d %b %l:%M %p") %>  </span>
            <span class="message" style="overflow-wrap: anywhere;"> <%= message.content %> </span>
          </div>
          <div class="bubble-arrow alt"></div>
        </div>
      </div>
    <% else %>
      <div class="msg">
        <div class="bubble">
          <div class="txt">
            <span class="name"> <%= message.user.first_name %> </span>
            <span class="timestamp"><%= message.created_at.strftime("%d %b %l:%M %p") %> </span>
            <span class="message" style="overflow-wrap: anywhere;">
              <%= message.content %>
            </span>

          </div>
          <div class="bubble-arrow"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
