<div class="container">
  <div class="chatroom-header">
    <% if @chatroom.activity %>
      <div class="chatroom-name">
        <h2><strong>#<%= @chatroom.activity.name %></strong></h2>
        <%= "#{@chatroom.activity.start_date.strftime("%-d/%^b")} to #{@chatroom.activity.end_date.strftime("%-d/%^b")}, starting at: #{@chatroom.activity.start_time.strftime("%H:%M")}" %>
      </div>
      <div class="members-card  ">
        <div class="participant-avatar">
          <%= cl_image_tag @chatroom.activity.itinerary.user.photos[0].key%>
          <small> ----------- </small>
          <% @chatroom.activity.participations.each do |participation| %>
          <%= cl_image_tag participation.user.photos[0].key%>
          <% end %>
        </div>
        <strong><%= @chatroom.activity.itinerary.user.first_name %></strong>
        <small> joined by </small>
        <% @chatroom.activity.participations.each do |participation| %>
            <strong><%= participation.user.first_name if participation.status == "confirmed" %></strong>
        <% end %></p>
      </div>
    <% else %>
      <%# to display the recipient's name %>
      <% chatroom.users.each do |user| %>
        <% if user.id != current_user.id %>
          <strong>You are talking to:</strong> <%= user.first_name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="chatroom" data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <div class="message-input">
      <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
        %>
        <div class="chat-form">
          <%= f.input :content,
            label: false,
            placeholder: "Message your friends @ ##{@chatroom.name}",
            wrapper_html: {class: "flex-grow-1"},
            input_html: { :cols => 70 }
          %>
          <%= f.submit "Send", class: "btn btn-success mb-3" %>
          <div class="link-chats">
            <%= link_to "Back to all chats", chatrooms_path(@user), class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
