  <div class="container chatroom" data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <div class="chatroom-header">
      <% if @chatroom.activity %>
        <h2><strong>#<%= @chatroom.activity.name %></strong></h2>
        <p><strong>Members: </strong>
          <%= @chatroom.activity.itinerary.user.first_name %>
          <% @chatroom.activity.participations.each do |participation| %>
              <%= participation.user.first_name if participation.status == "confirmed" %>
          <% end %></p>
      <% else %>
        <%# to display the recipient's name %>
        <% chatroom.users.each do |user| %>
          <% if user.id != current_user.id %>
            <strong>You are talking to:</strong> <%= user.first_name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
        <div id="message-<%= message.id %>">
          <small>
            <strong><%= message.user.first_name %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
        </div>
      <% end %>
    </div>


    <div class="message-input">
      <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
        %>
        <div class="chat-form">
        <%= f.input :content,
          label: false,
          placeholder: "Message ##{@chatroom.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-success mb-3" %>
        </div>
      <% end %>
    </div>

  </div>
