
<body>

  <div id="profile_banner">
      <div>
        <% @user.photos.each do |photo| %>
            <%= cl_image_tag current_user.photos[0].key, class: "avatar_profile"%>
        <% end %>
      </div>


    <%= link_to destroy_user_session_path, data: {turbo_method: :delete},
    class: "dropdown-item", :action => 'go' do %>
      <div id="logout" class="btn btn-success">
        Logout
      </div>
    <% end %>
  </div>


  <div id="name">
    <%= "#{@user.first_name}" %>
  </div>
  <% if current_user == @user %>
    <div class="my_itineraries">
      <%= link_to my_itineraries_itineraries_path, :action => 'go' do %>
        <div id="my_circle"></div>
        <div class="m-0 my_text" style="">My</div>
        <div class="m-0 itinerary_text">Itineraries</div>
      <% end %>
    </div>

    <div class="create-itinerary">
      <%= link_to new_itinerary_path, :action => 'go' do %>
        <div class="m-0 create-itinerary-text" style="">Create Itineraries</div>
        <div class="create_circle"></div>
      <% end %>
    </div>
  <% end %>

  <div id class="rating_header">
    <h2>Rating: <u><strong>4.8</strong></u></h2>
  </div>


  <div id="review_container" class="pt-4">
    <h2 class="text-center"> Reviews </h2>

    <div>
      <h5 id="reviewtitle"></h5>
        <div>
          <%= render "reviewed", user:@user %>
        </div>
      </div>
    </div>

  </body>
