<div class="fixed-bottom d-flex justify-content-center w-100 py-2" style="background-color: #e36262;" id="bottomNav">
  <div class="w-100 d-flex justify-content-between px-5">

    <div class="nav-item">
      <%= link_to itineraries_path do%>
      <i class="fa-solid fa-house-chimney"></i>
      <% end %>
    </div>

    <div class="nav-item dropup">
      <i class="fa-regular fa-bell " id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu" style="min-width: 40px" aria-labelledby="navbarDropdown">

          <%= link_to participations_path, class:"dropdown-item" do %>
            <h4>Committed Activities</h4>
          <% end %>

          <%= link_to approve_participations_path, class:"dropdown-item" do %>
            <h4>Approvals</h4>
          <% end %>
        </div>
      </div>

    <div class="nav-item">
      <%= link_to chatrooms_path, class:"nav-item" do %>
        <i class="fa-regular fa-comment"></i>
      <% end %>
    </div>

    <div class="nav-item2">
      <%= link_to user_path(current_user), class:"nav-item2" do %>
        <%= cl_image_tag current_user.photos[0].key, class: "rounded-circle", style: "width: 36px"%>
      <% end %>
    </div>
  </div>
</div>
