<div class="fixed-bottom d-flex justify-content-center w-100 py-2" style="background-color: #e36262;" id="bottomNav">
  <div class="w-100 d-flex justify-content-between px-5">

    <div class="nav-item">
      <%= link_to itineraries_path do%>
      <i class="fa-solid fa-earth-asia"></i>
      <% end %>
    </div>

    <div class="nav-item dropup">
    <i class="fa-regular fa-bell " id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" style="min-width: 40px" aria-labelledby="navbarDropdown">

        <%= link_to participations_path, class:"dropdown-item" do %>
          <i class="fa-regular fa-hourglass"></i>
        <% end %>

        <%= link_to approve_participations_path, class:"dropdown-item" do %>
          <i class="fa-regular fa-square-check"></i>
        <% end %>

      </div>
    </div>

    <div class="nav-item">
        <%= link_to chatrooms_path, class:"nav-item" do %>
          <i class="fa-regular fa-comment"></i>
        <% end %>
    </div>

    <div class="nav-item">
      <% if user_signed_in? %>

        <%= link_to user_path(current_user), class:"nav-item" do %>
          <i class="fa-regular fa-user"></i>
        <% end %>

        <li class="nav-item dropdown p-8">
          <a class="nav-link" data-bs-toggle="dropdown"><%= current_user.nickname %></a></i>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
      <% end %>
    </div>
  </div>
</div>
