<div class="container-activity" style="background-color: #F1E0E0;">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
    <div class="itinerary-activity-img">
      <% if @activity.photos.attached? %>
        <%= cl_image_tag @activity.photos[0].key %>
      <% else %>
        <%= image_tag "sofa.jpg", alt: "photo placeholder", width: 200, height: 200 %>
      <% end %>
      <div class="banner-name position-absolute">
        <h1><strong><%= @activity.name %></strong></h1>
      </div>
    </div>
  </div>

  <div class="activity-detail">
      <p><%= @activity.detail %></p>
      <p><%= @activity.start_time.strftime("%e.%M%P %-d %b") %> - <%= @activity.end_time.strftime("%l.%M%P %-d %b")%></p>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div class="creator-avatar">
      <div><strong><%= @activity.itinerary.user.first_name %></strong></div>
      <div><%= cl_image_tag @activity.itinerary.user.photos[0].key%></div>
    </div>
    <div><strong>joined by</strong></div>
    <div class="participant-avatar">
      <% @activity.participations.each do |participation| %>
      <%= cl_image_tag participation.user.photos[0].key%>
      <% end %>
    </div>
  </div>

  <div class="activity-map">
    <div id='map' style="width: 100%; height: 480px;"
      data-controller="activity-map"
      data-activity-map-markers-value="<%= @markers.to_json %>"
      data-activity-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <%= render "info_window" %>
</div>
